body {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);

    min-height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    margin-right: 5%;
}

header h1 {
    color: white;
    margin-left: 5%;
}

header nav a {
    color: white;
    text-decoration: underline transparent;
    margin-left: 15px;
    transition: color 0.25s ease, text-decoration-color 0.25s ease;
}

header nav a:hover {
    color: yellow;
    text-decoration-color: yellow;
}

.index_main {
    height: 2000px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    height: 10%;
    width: 100%;
    color: white;
    padding: 2.5% 0;
}